/*=============== ESTILOS GENERALES ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgb(79, 211, 156);
    height: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/
.contenedor {

    height:505px; 
    position:relative; 
    background: green;
 
}



.contenedor .contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:200px;
    height:750px;
    top: -100px;
    z-index: 200;
}

.contenedor .contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:18em;
    height:750px;
    top: -100px;
    right:0 ;
    transform: scaleX(-1);
    z-index: 200;
}

.contenedor .contenedor-guirnaldas{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;
}

/*=================  CONTENEDOR DE GRILLA  ===============*/
.contenedor .contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 300;
}

/*===================  GRILLA  ========================*/
.contenedor .contenedor-grid .grid{

    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda . aside-derecha"
                         "footer footer footer";

}

/*===========================================================*/
/*====================== HEADER ============================*/
/*=========================================================*/

/*================= NAVEGADOR PRINCIPAL =================*/

/*==================  BOTÓN MENÚ  =====================*/




/*======================BARRA DE MENÚ===================== */

/* ============ BOTÓN EVENTOS =============== */

.contenedor-logo-principal .contenedor-botones-aside img{
    width: 100%;
    margin-left: 15px;
    margin-top: 40px;
}


/*===========================================================*/
/*===============CONTENIDO PRINCIPAL========================*/
/*=========================================================*/

.contenedor-main{

    grid-area: contenido;
    /* border: darkorchid 1px solid; */

}




/*==================== ASIDE DERECHA ==================*/
.aside-derecha{
    grid-area: aside-derecha;
    width: 100%;
    height: 100%;
    /* border: 1px solid lightskyblue; */
    box-sizing: border-box;
}



/*==================== ASIDE IZQUIERDA ==================*/
.aside-izquierda{
    grid-area: aside-izquierda;
    width: 100%;
    height: 100%;
    /* border: 1px solid lightskyblue; */
    box-sizing: border-box;

}




/*===================================================*/
/*==================== FOOTER ======================*/
/*=================================================*/

.footer{
    grid-area: footer;
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: 0px;
    background: blue;
}

/*
.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 0px;
    justify-content:center;
    align-items: flex-end;
    /* background: lightskyblue; */

/*}*/

/*
.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 70%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
    /* border: 1px solid lightseagreen; */
/*}*/
/*
.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
    /* border: 1px solid #fff; */
    /* bottom: 220px; */
/*}*/

